.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 928px) {
    padding: 20px 90px !important;
  }

  &__logo {
    .logo {
      max-width: 325px;
    }
  }

  &__nav {
    display: flex;
    gap: 40px;
  }

  &__link {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #fc3e04;
      text-decoration: underline;
    }
  }

  @media (max-width: 1120px) {
    &__nav {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__nav {
      gap: 15px;
    }
    &__link {
      font-size: 16px;
    }
    .logo {
      max-width: 250px;
    }
  }
  @media (max-width: 500px) {
    .logo {
      max-width: 200px;
    }
  }

  @media (max-width: 480px) {
    &__nav {
      gap: 10px;
    }

    &__link {
      font-size: 14px;
    }
  }
}

.dropdown__link {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 500;
}

.anticon svg {
  display: none;
}

.menu-container {
  @media (min-width: 1120px) {
    display: none;
  }
}

.menu-button {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-header {
  margin-top: 7px;
  display: flex;
  justify-content: flex-end;

  .close-button {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.menu-item {
  font-size: 20px;
  color: #3d3d3d;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
  }
}
.header__socials {
  position: absolute;
  bottom: 50px;
  display: flex;
  gap: 1rem;
  margin-top: 20px;

  .header__badge {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background-color: #fc3e04;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.contact-info-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-item-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.contact-item-header span {
  color: #333;
}
