.modal {
  position: relative;
  z-index: 30;

  .modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    background-color: rgba(84, 81, 81, 0.14); // #54515124 in Tailwind
  }

  .modal-panel {
    border-radius: 0.5rem; // Equivalent to `rounded` in Tailwind
    background-color: white;
    padding: 30px;
    width: 350px;
  }
}
