.modal {
  position: relative;
  z-index: 100;

  .modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    background-color: rgba(84, 81, 81, 0.14);
  }

  .modal-panel {
    border-radius: 0.5rem;
    background-color: white;
    padding: 30px;
    width: 350px;
  }
}
