.news {
  margin-top: 100px !important;
  padding-bottom: 40px;

  @media (max-width: 930px) {
    margin-top: 120px !important;
  }
}

.news__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #333;
}
