.company__structure {
  padding-top: 0;
}

.company__structure__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 750px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.profile-card {
  margin: 0 auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  // gap: 16px; // Reduced gap between elements
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // padding: 10px; // Added padding to the card itself
  max-width: 280px; // Limit the width of each card

  .profile-image {
    img {
      width: 100%;
      height: 100%; // Adjusted height for smaller image
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .profile-info {
    flex-grow: 1;
    padding: 10px; // Reduced padding

    .name {
      color: #e96208;
      font-size: 16px; // Reduced font size
      font-weight: 600;
      margin: 0 0 8px 0;
    }

    .position {
      color: #333;
      font-size: 14px; // Reduced font size
      margin: 0 0 16px 0; // Reduced margin
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 12px; // Reduced gap

      .contact-item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .label {
          color: #666;
          font-size: 12px; // Reduced font size
        }

        .value {
          color: #333;
          font-size: 14px; // Reduced font size
          text-decoration: none;

          &:hover {
            color: #0066cc;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
